<nav class="nav">
    <div class="nav-brand">
        <span class="nav-icon">⚔</span>
        <span>WatcherNet</span>
    </div>

    <ul class="nav-links">
        <li><NavLink href="" Match="NavLinkMatch.All">Council Summary</NavLink></li>
        <li><NavLink href="slayers">Slayers</NavLink></li>
        <li><NavLink href="hellmouths">Hellmouths</NavLink></li>
        <li><NavLink href="threats">Threats</NavLink></li>
        <li><NavLink href="log">Log Encounter</NavLink></li>
    </ul>

    <div class="nav-footer">
        <div class="status-indicator">
            <span class="status-dot"></span>
            <span>Council Active</span>
        </div>
        <div>Sunnydale Field Ops</div>
    </div>
</nav>
